{{#if toastMsg}}
    <div class='message'>
        <div class='alert alert-{{toastMsg.type}} d-flex align-items-center alert-dismissible fade show' role='alert'>
            <i class='fa-solid fa-triangle-exclamation fs-5 me-1'></i>
            <div>
                {{toastMsg.message}}
            </div>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    </div>
{{/if}}