<div class='modal' id='modal' role='dialog'>
    <div class='modal-dialog w-75'>
        <div class='modal-content'>
            <div class='modal-header'>
                <p class='modal-title'>Modal title</p>
                <button type='button' class='btn-close close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p class='modal-body__text'>Modal body text goes here.</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger btn-submit-modal'>Thực hiện</button>
                <button type='button' class='btn btn-secondary'>Trở lại</button>
            </div>
        </div>
    </div>
</div>