<div class='offcanvas offcanvas-start sidebar-nav bg-dark' tabindex='-1' id='sidebar'>
    <div class='offcanvas-body p-0'>
        <nav class='navbar-dark'>
            <ul class='navbar-nav'>
                <li>
                    <div class='text-muted small fw-bold text-uppercase px-3'>
                        CORE
                    </div>
                </li>
                <li>
                    <a href='/dashboard' class='nav-link px-3'>
                        <span class='me-2'><i class='bi bi-speedometer2'></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class='my-4'><hr class='dropdown-divider bg-light' /></li>
                <li>
                    <div class='text-muted small fw-bold text-uppercase px-3 mb-3'>
                        Interface
                    </div>
                </li>
                <li>

                    <ul class='navbar-nav ps-3'>
                        <li>
                            <a href='/users' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-users text-secondary'></i></span>
                                <span>Thông tin Nhân viên</span>
                            </a>
                        </li>
                        <li>
                            <a href='/positions' class='nav-link px-3'>
                                <span class='me-2'> <i class='fa-solid fa-registered'></i></span>
                                <span>Chức vụ</span>
                            </a>
                        </li>
                        <li>
                            <a href='/customers' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-users-line'></i></span>
                                <span>Khách hàng</span>
                            </a>
                        </li>
                        <li>
                            <a href='/categories' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-list'></i></span>
                                <span>Danh mục chung </span>
                            </a>
                        </li>
                        <li>
                            <a href='/wedding-categories' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-list'></i></span>
                                <span>Danh mục Đồ cưới </span>
                            </a>
                        </li>
                        <li>
                            <a href='/accessories' class='nav-link px-3'>
                                <span class='me-2'> <i class='fa-brands fa-product-hunt'></i></span>
                                <span>Phụ kiện</span>
                            </a>
                        </li>
                        <li>
                            <a href='/weddings' class='nav-link px-3'>
                                <span class='me-2'> <i class='fa-solid fa-shirt'></i></span>
                                <span>Đồ cưới</span>
                            </a>
                        </li>
                        <li>
                            <a href='/combos' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-gears'></i></span>
                                <span>Dịch vụ</span>
                            </a>
                        </li>
                        <li>
                            <a href='/receipts' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-receipt'></i></span>
                                <span>Phiếu nhập</span>
                            </a>
                        </li>

                        <li>
                            <a href='/users' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-users text-secondary'></i></span>
                                <span>Danh sách cho thuê</span>
                            </a>
                        </li>
                        <li>
                            <a href='/users' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-receipt'></i></span>
                                <span>Hóa đơn</span>
                            </a>
                        </li>
                        <li>
                            <a href='/calendars' class='nav-link px-3'>
                                <span class='me-2'><i class='fa-solid fa-calendar-days'></i></span>
                                <span>Lịch làm việc</span>
                            </a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href='#' class='nav-link px-3'>
                        <span class='me-2'><i class='bi bi-book-fill'></i></span>
                        <span>Pages</span>
                    </a>
                </li>
                <li class='my-4'><hr class='dropdown-divider bg-light' /></li>
                <li>
                    <div class='text-muted small fw-bold text-uppercase px-3 mb-3'>
                        Addons
                    </div>
                </li>
                <li>
                    <a href='#' class='nav-link px-3'>
                        <span class='me-2'><i class='bi bi-graph-up'></i></span>
                        <span>Charts</span>
                    </a>
                </li>
                <li>
                    <a href='#' class='nav-link px-3'>
                        <span class='me-2'><i class='bi bi-table'></i></span>
                        <span>Tables</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>