<div>
    <div class="container p-5 bg-primary text-white text-center bg-margin">
    <h1>Danh mục áo cưới</h1>
    </div>

    <div class="form-outline p-5">
    <input type="search" id="form1" class="search" placeholder="Type query" aria-label="Search" />
    </div>

    <button type="button" class="btn btn-primary bg-margin">Thêm</button>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

    <div class="container col-lg-9 bg-margin"> 
        <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action sp-text"><img src="image/mau1.jpg" class="anhCuoi" alt="mau1">First item</a>
    <a href="#" class="list-group-item list-group-item-action">Second item</a>
    <a href="#" class="list-group-item list-group-item-action">Third item</a>
        </div>
    </div>
    </div>
</div>